/*------------- COMMON STUFF ---------------------*/
a {
	color: orange;
	text-decoration-color: yellow;
}

#date-row {
	padding-top: 20px;
}


.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* -------------- PICK SECTIONS ------------------*/

.section-label {
	padding-top: 20px;
	padding-bottom: 10px;
}


#started-games-section {
}

.section {
	opacity: 0;
}

/* -------------- PICK CARDS ---------------------*/
.pick-card {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 3px;
	margin: 5px;
	box-shadow: 1px 1px 1px #888888;
}

.pick-card.live {
	border-color: orange;
}

.pick-card.past {
	border-color: grey;
}

.pick-card-header {

}

.pick-card-option {
	transition: .25s;
	text-align: left;
}

.pick-card-option.pickable {
	cursor: pointer
}

.pick-card-option.picked {	
	background-color: orange;
}

.pick-card-header .time {
	color: grey;
	font-size: 12px;
}

.pick-card-option.pickable:hover {
	background-color: orange;
}

.pick-card-option .win-loss {
	color: grey;
	font-size: 14px;

}