a {
	color: orange;
	text-decoration-color: yellow;
}

#date-row {
	padding-top: 20px;
}


/* -------------- PICK SECTIONS ------------------*/
.section-label {
	padding-top: 20px;
}


#live-games-section {
	border-style: solid;
	border-width: 1px;
	border-color: orange;
	border-radius: 5px;
}


/* -------------- PICK CARDS ---------------------*/
.pick-card {
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	margin: 5px;
}

.pick-card-header {

}

.pick-card-option {
	
	transition: .25s;
}

.pick-card-option:hover {
	background-color: #DDD;
}

.pick-card-header .time {
	color: grey;
}