<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goat Index</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  </head>
  <body>
    <div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <img id="goat" src="img/goat.jpg" class="float-left"/>
    <!-- off-canvas title bar for 'small' screen -->
    <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title logo-text">GOAT Index</span>
      </div>
      <div class="title-bar-right">
        <span class="title-bar-title"><a href='{{ url|safe }}'> {{ url_linktext }}</a></span>
        {% if logged_in %} <a href='#'> <i class="material-icons">account_circle</i> </a> {% endif %}
      </div>
    </div>

    <!-- off-canvas left menu -->
    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
      <ul class="vertical dropdown menu" data-accordion-menu>
        <li>
          <a href="#">Sport</a>
          <ul class="menu vertical nested">
            <li><a href="#">NBA</a></li>
            <li><a href="#">NFL</a></li>
          </ul>
        </li>
        <li><a href="#">Leaderboard</a></li>
      </ul>
    </div>

    <div id="live-games-section" class=" extended row small-up-3 large-up-8 small-collapse large-collapse"></div>

    <!-- "wider" top-bar menu for 'medium' and up -->
    <div id="widemenu" class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu main-menu-text" data-dropdown-menu>
          <li class="menu-text logo-text">GOAT Index</li>

          <li class="has-submenu">
            <a href="#">Sport</a>
            <ul class="menu submenu vertical" data-submenu>
              <li><a href="#">NBA</a></li>
              <li><a href="#">NFL</a></li>
            </ul>
          </li>
          <li><a href="#">Leaderboard</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu main-menu-text">
          <li><a href='{{ url|safe }}'> {{ url_linktext }}</a></li>
          {% if logged_in %} <li><a href='#'> <i class="material-icons">account_circle</i> </a> {% endif %}</li>
        </ul>
      </div>
    </div>

    <!-- original content goes in this container -->
    <div class="off-canvas-content" data-off-canvas-content>
      
      <div class="row">

        <div id="game-content" class="large-10 columns panel">

          <div id="nba-date-nav" class="date-nav row">
            <div class="large-1 columns"><h5> NBA </h5></div>
            <div class="large-2 columns end">
              <div id="nba-prev-date" class="date-button float-left"><i class="material-icons">chevron_left</i> </div>
              <div id="nba-next-date" class="date-button float-right"><i class="material-icons">chevron_right</i> </div>
              <div id="nba-date" class="date">Nov 11th </div>
            </div>
          </div>
          <div id="nba-games-section" class="section row small-up-2 medium-up-4 large-up-5"></div>

          <div id="nfl-date-nav" class="date-nav section-label row">
            <div class="large-1 columns"><h5> NFL </h5></div>
            <div class="large-2 columns end">
              <div id="nfl-prev-date" class="date-button float-left"><i class="material-icons">chevron_left</i></div>
              <div id="nfl-next-date" class="date-button float-right"><i class="material-icons">chevron_right</i></div>
              <div id="nfl-date" class="date">Nov 11th </div>
            </div>
          </div>
          <div id="nfl-games-section" class="section row small-up-2 medium-up-4 large-up-5"></div>

            
        </div>


        <div id="right-content" class="large-2 columns panel">
          <div id="user-goat-index" class="your-goat-index row">
            <div class="large-12 columns"> Your GOAT Index </div>
          </div>
          <div class="row stats-1">
            <div class="large-12 columns">
              <span id="percentage" class="percentage"> </span>
              <span id="correct" class="record"></span> / <span id="total" class="record"></span>
            </div>
          </div>

        </div>
      </div>

      <script id="loader-template" type="text/x-handlebars-template">
        <div class="row"> 
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
      </script>

      {% include 'templates/pick-card-template.html' %}
      {% include 'templates/live-pick-card-template.html' %}
      {% include 'templates/completed-card-template.html' %}

  <!-- close wrapper, no more content after this -->
  </div>
</div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/handlebars.js"></script>
    
    <script src="js/Loader.js"></script>
    <script src="js/ApiConnector.js"></script>
    <script src="js/goatdatetime.js"></script>
    <script src="js/GoatGame.js"></script>
    <script src="js/LiveGameManager.js"></script>

    <script src="js/GoatGameInjector.js"></script>
    <script src="js/CardInjector.js"></script>

    <script src="js/GoatDateNavigator.js"></script>
    
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <script>
    {% if logged_in %}
    var team_records = {};
    team_records.nba = {{nba_team_records | safe }};
    team_records.nfl = {{nfl_team_records | safe}};
    init("{{curr_date}}", true, team_records);
    {% else %}
    init("{{curr_date}}", false, {{nba_team_records | safe }});
    {% endif %}
    </script>
  </body>
</html>
