<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/flexboxgrid.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Shrikhand" rel="stylesheet">

    <title>Goat Index</title>

  </head>

  <body>
      <div class="row">
        <div id="app" class="col-xs-12 col-sm-12 col-lg-12"></div>
      </div>
  </body>

  <script type="text/javascript" src="js/goatreact.bundle.js"></script>

</html>
