<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach Picks</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <!-- off-canvas title bar for 'small' screen -->
    <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title">Peach Picks</span>
      </div>
      <div class="title-bar-right">
        <span class="title-bar-title"><a href='{{ url|safe }}'> {{ url_linktext }}</a></span>
      </div>
    </div>

    <!-- off-canvas left menu -->
    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
      <ul class="vertical dropdown menu" data-accordion-menu>
        <li>
          <a href="#">Sport</a>
          <ul class="menu vertical nested">
            <li><a href="#">NBA</a></li>
          </ul>
        </li>
        <li><a href="#">Leaderboard</a></li>
      </ul>
    </div>

    <!-- "wider" top-bar menu for 'medium' and up -->
    <div id="widemenu" class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Peach Picks</li>
          <li class="has-submenu">
            <a href="#">Sport</a>
            <ul class="menu submenu vertical" data-submenu>
              <li><a href="nba">NBA</a></li>
            </ul>
          </li>
          <li><a href="left_wide_21">Leaderboard</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href='{{ url|safe }}'> {{ url_linktext }}</a></li>
        </ul>
      </div>
    </div>

    <!-- original content goes in this container -->
    <div class="off-canvas-content" data-off-canvas-content>
      
      <div id="top-row" class="row column large"></div>

    </div>

    {% raw %}
    <script id="pick-card-template" type="text/x-handlebars-template">
      <div class="pick-card-container small-12 medium-6 large-3 columns">
        <div class="pick-card large-12 columns">
          <div class="pick-card-header large-12 columns">
            <h4> {{time}}</h4>
          </div>
          <div class="row">
            <div class="pick-card-panel large-6 columns">
              <h4>{{team1}}</h4>
            </div>
            <div class="pick-card-panel large-6 columns">
              <h4>{{team2}}</h4>
            </div>
          </div>    
        </div>
      </div>
    </script>

    {% endraw %}

  <!-- close wrapper, no more content after this -->
  </div>
</div>
    <script src="js/vendor/handlebars.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
