{% raw %}
  <script id="live-pick-card-template" type="text/x-handlebars-template">
    
    <div class="pick-card-container column">
  
      <div class="pick-card live small-12 large-12 columns" id='{{game_id}}'>
        <div class="pick-card-header row">
          <div class="time large-12 columns"> {{live_data.live_clock}}</div>
        </div>

        <div class="row pick-card-option large-collapse home">
          <div class="small-2 large-2 columns">
            <div class="pick-indicator {{#if homePicked }} picked {{/if}}"></div> 
          </div>

          <div class="team-name small-6 large-8 columns"> 
            {{home}}
          </div>
          <div class="score small-2 large-2 columns end"> {{live_data.hTeam.score}}</div>
        </div>

        <div class="row pick-card-option large-collapse away">
          <div class="small-2 large-2 columns">
            <div class="pick-indicator {{#if awayPicked }} picked {{/if}}"></div> 
          </div>

          <div class="team-name small-6 large-8 columns"> 
            {{away}}
          </div>

          <div class="score small-2 large-2 columns end"> {{live_data.vTeam.score}}</div>
        </div>        

      </div>
    </div>

  </script>
{% endraw %}