{% raw %}
  <script id="pick-card-template" type="text/x-handlebars-template">

    <div class="pick-card-container column">
    
      <div class="pick-card large-12 columns" id='{{game_id}}'>
        <div class="pick-card-header row">
          <div class="time large-6 columns"> {{pretty_start_time}}</div>
        </div>

        <div class="row pick-card-option home ">
          <div class="team-name small-9 large-9 columns"> 
            {{home}}
            <span class="win-loss"> ({{homeRecord.[0]}}-{{homeRecord.[1]}})</span>
          </div>
          <div class="pick-checkbox-container small-2 large-2 columns end"><div class="pick-checkbox {{#if homePicked }} picked {{/if}}" ></div></div>
        </div>

        <div class="row pick-card-option away ">
          <div class="team-name small-9 large-9 columns"> 
            {{away}}
            <span class="win-loss"> ({{awayRecord.[0]}}-{{awayRecord.[1]}})</span>
          </div>  
          <div class="pick-checkbox-container small-2 large-2 columns end"><div class="pick-checkbox {{#if awayPicked }} picked {{/if}}"></div> </div>
        </div>        

      </div>
    </div>
  </script>
{% endraw %}